*{
    margin:0;
}

#puzzle:first-child {
    width: 100vw;
    height: 100vh;
}

#demofooter, #demoheader {
    position: fixed;
    text-align: center;
    width: 100%
}

#demofooter {
    bottom: 0
}
